.container {
    width: 100%;
    height: 100%;
    background-color: #c8b653;
    padding: 10px;
    justify-content: center;
}

.header-text {
    color: #080D07;
    text-align: center
}

.go-button {
  appearance: button;
  background-color: #54854f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Trebuchet MS", serif, sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.go-button:after {
  background-clip: padding-box;
  background-color: #6ca965;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.go-button,
.button:focus {
  user-select: auto;
}

.go-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.gobutton:disabled {
  cursor: auto;
}

.go-button:active {
  border-width: 4px 0 0;
  background: none;
}